### Обязательная часть
Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

### Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения   (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать  результаты.

In [647]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [648]:
url = 'https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv'
columns_name = ['surgery', 'age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 
                'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', 
                'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux',
                'nasogastric_reflux_PH', 'rectal_examination_feces', 'abdomen', 'packed_cell_volume', 
                'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome',
                'surgical_lesion', 'lesion_1', 'lesion_2', 'lesion_3', 'cp_data'] 
df = pd.read_csv(url, names=columns_name, header=None, )
df.head(10)

,surgery,age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,pain,peristalsis,abdominal_distension,nasogastric_tube,nasogastric_reflux,nasogastric_reflux_PH,rectal_examination_feces,abdomen,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,2,1,530101,38.50,66,28,3,3,?,2,5,4,4,?,?,?,3,5,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,3,4,2,?,?,?,4,2,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,3,3,1,?,?,?,1,1,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,2,4,4,1,2,5.00,3,?,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,?,?,?,?,?,?,?,?,74.00,7.40,?,?,2,2,4300,0,0,2
5,2,1,528355,?,?,?,2,1,3,1,2,3,2,2,1,?,3,3,?,?,?,?,1,2,0,0,0,2
6,1,1,526802,37.90,48,16,1,1,1,1,3,3,3,1,1,?,3,5,37.00,7.00,?,?,1,1,3124,0,0,2
7,1,1,529607,?,60,?,3,?,?,1,?,4,2,2,1,?,3,4,44.00,8.30,?,?,2,1,2208,0,0,2
8,2,1,530051,?,80,36,3,4,3,1,4,4,4,2,1,?,3,5,38.00,6.20,?,?,3,1,3205,0,0,2
9,2,9,5299629,38.30,90,?,1,?,1,1,5,3,1,2,1,?,3,?,40.00,6.20,1,2.20,1,2,0,0,0,1

In [649]:
#заменим ? на NaN
df = df.replace('?', np.nan)
#заменим значения в возрате на более понятные
df['age'] = df['age'].replace(1, 'adult').replace(9, 'young')

In [650]:
df.info()
#в nasogastric_reflux_PH больше всего пустых значений

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
surgery                        299 non-null object
age                            300 non-null object
Hospital_Number                300 non-null int64
rectal_temperature             240 non-null object
pulse                          276 non-null object
respiratory_rate               242 non-null object
temperature_of_extremities     244 non-null object
peripheral_pulse               231 non-null object
mucous_membranes               253 non-null object
capillary_refill_time          268 non-null object
pain                           245 non-null object
peristalsis                    256 non-null object
abdominal_distension           244 non-null object
nasogastric_tube               196 non-null object
nasogastric_reflux             194 non-null object
nasogastric_reflux_PH          53 non-null object
rectal_examination_feces       198 non-null object
abdomen                        182 non-null object
packed_cell_volume             271 non-null object
total_protein                  267 non-null object
abdominocentesis_appearance    135 non-null object
abdomcentesis_total_protein    102 non-null object
outcome                        299 non-null object
surgical_lesion                300 non-null int64
lesion_1                       300 non-null int64
lesion_2                       300 non-null int64
lesion_3                       300 non-null int64
cp_data                        300 non-null int64
dtypes: int64(6), object(22)
memory usage: 65.7+ KB

In [651]:
#базовые метрики для столбцов, содержащих линейные значения: rectal temperature, pulse, respiratory rate, 
#nasogastric reflux PH, total protein, packed cell volume, abdomcentesis total protein
linear_columns = ['rectal_temperature', 'pulse', 'respiratory_rate', 
                  'nasogastric_reflux_PH', 'total_protein', 'packed_cell_volume', 
                  'abdomcentesis_total_protein']

In [652]:
#преобразуем cтолбцы в int или float
for i in linear_columns:
    df[i] = df[i].astype(float)

In [653]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
surgery                        299 non-null object
age                            300 non-null object
Hospital_Number                300 non-null int64
rectal_temperature             240 non-null float64
pulse                          276 non-null float64
respiratory_rate               242 non-null float64
temperature_of_extremities     244 non-null object
peripheral_pulse               231 non-null object
mucous_membranes               253 non-null object
capillary_refill_time          268 non-null object
pain                           245 non-null object
peristalsis                    256 non-null object
abdominal_distension           244 non-null object
nasogastric_tube               196 non-null object
nasogastric_reflux             194 non-null object
nasogastric_reflux_PH          53 non-null float64
rectal_examination_feces       198 non-null object
abdomen                        182 non-null object
packed_cell_volume             271 non-null float64
total_protein                  267 non-null float64
abdominocentesis_appearance    135 non-null object
abdomcentesis_total_protein    102 non-null float64
outcome                        299 non-null object
surgical_lesion                300 non-null int64
lesion_1                       300 non-null int64
lesion_2                       300 non-null int64
lesion_3                       300 non-null int64
cp_data                        300 non-null int64
dtypes: float64(7), int64(6), object(15)
memory usage: 65.7+ KB

In [654]:
#проверим максимальных и минимальные значения по столбцам и размах
print(df[linear_columns].max())
print(df[linear_columns].min())
print(df[linear_columns].max() - df[linear_columns].min())    
#видим большой размах в пульсе и частоте дыхания, что может говорить о том, 
#что есть лошади в легком состоянии во время болезни, так и в очень тяжелом

rectal_temperature              40.8
pulse                          184.0
respiratory_rate                96.0
nasogastric_reflux_PH            7.5
total_protein                   89.0
packed_cell_volume              75.0
abdomcentesis_total_protein     10.1
dtype: float64
rectal_temperature             35.4
pulse                          30.0
respiratory_rate                8.0
nasogastric_reflux_PH           1.0
total_protein                   3.3
packed_cell_volume             23.0
abdomcentesis_total_protein     0.1
dtype: float64
rectal_temperature               5.4
pulse                          154.0
respiratory_rate                88.0
nasogastric_reflux_PH            6.5
total_protein                   85.7
packed_cell_volume              52.0
abdomcentesis_total_protein     10.0
dtype: float64

In [655]:
#проверим, как максимальные показатели пульса и дыхания влияют на остальные показатели 
df[df['pulse'] == 184.0]

,surgery,age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,pain,peristalsis,abdominal_distension,nasogastric_tube,nasogastric_reflux,nasogastric_reflux_PH,rectal_examination_feces,abdomen,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
255,1,young,5294539,38.8,184.0,84.0,1,NaN,1,1,4,1,3,NaN,NaN,NaN,2,NaN,33.0,3.3,NaN,NaN,2,1,7111,0,0,2

In [656]:
df[df['respiratory_rate'] == 96.0]
#видно, что при высоком пульсе  и частоте дыхания показатели температуры выходят за пределы нормы

,surgery,age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,pain,peristalsis,abdominal_distension,nasogastric_tube,nasogastric_reflux,nasogastric_reflux_PH,rectal_examination_feces,abdomen,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
39,1,young,5277409,39.2,146.0,96.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,2113,0,0,2
106,1,adult,528668,38.3,52.0,96.0,NaN,3,3,1,NaN,NaN,NaN,1,1,NaN,1,NaN,43.0,6.1,NaN,NaN,1,1,3209,0,0,1

In [657]:
#но при этом между частотой дыхания и температурой низкая корреляция
df['respiratory_rate'].corr(df['rectal_temperature'])

0.2691813157834932

In [658]:
#посчитаем моду
#моду имеет смысл считать для значений, которые содержат небольшое кол-во знаков после запятой, округлив значения
df[linear_columns].round().mode().head(1)
#из полученного результата видно, что больше всего показателей, которые отклоняются от нормы, соответственно 
#можно сделать вывод, что нездоровых лошадей больше, чем здоровых

,rectal_temperature,pulse,respiratory_rate,nasogastric_reflux_PH,total_protein,packed_cell_volume,abdomcentesis_total_protein
0,38.0,48.0,20.0,6.0,7.0,37.0,2.0

In [659]:
#медиану
df[linear_columns].median()

rectal_temperature             38.20
pulse                          64.00
respiratory_rate               24.50
nasogastric_reflux_PH           5.00
total_protein                   7.50
packed_cell_volume             45.00
abdomcentesis_total_protein     2.25
dtype: float64

In [660]:
#среднее значение
df[linear_columns].mean()

rectal_temperature             38.167917
pulse                          71.913043
respiratory_rate               30.417355
nasogastric_reflux_PH           4.707547
total_protein                  24.456929
packed_cell_volume             46.295203
abdomcentesis_total_protein     3.019608
dtype: float64

In [661]:
#стандартное отклонение 
df[linear_columns].std()
#видно, что существует большой разброс данных в pulse, respiratory_rate, total_protein, packed_cell_volume
#это говорит о том, что среднему значению mean по этим столбцам нельзя доверять
#так же видно, что стдртн отклонение в rectal_temperature, nasogastric_reflux_PH, abdomcentesis_total_protein минимально
#можно предположить, что данные показатели более стабильны и по ним сложнее будет определить,
#испытывает ли лошадь недуг или нет, к примеру у здоровой и большой лошади может быть одинаковая температура

rectal_temperature              0.732289
pulse                          28.630557
respiratory_rate               17.642231
nasogastric_reflux_PH           1.982311
total_protein                  27.475009
packed_cell_volume             10.419335
abdomcentesis_total_protein     1.968567
dtype: float64

In [662]:
df[linear_columns].describe()

,rectal_temperature,pulse,respiratory_rate,nasogastric_reflux_PH,total_protein,packed_cell_volume,abdomcentesis_total_protein
count,240.000000,276.000000,242.000000,53.000000,267.000000,271.000000,102.000000
mean,38.167917,71.913043,30.417355,4.707547,24.456929,46.295203,3.019608
std,0.732289,28.630557,17.642231,1.982311,27.475009,10.419335,1.968567
min,35.400000,30.000000,8.000000,1.000000,3.300000,23.000000,0.100000
25%,37.800000,48.000000,18.500000,3.000000,6.500000,38.000000,2.000000
50%,38.200000,64.000000,24.500000,5.000000,7.500000,45.000000,2.250000
75%,38.500000,88.000000,36.000000,6.500000,57.000000,52.000000,3.900000
max,40.800000,184.000000,96.000000,7.500000,89.000000,75.000000,10.100000

In [663]:
#была операция
df[linear_columns][df['surgery'] == '1'].describe()

,rectal_temperature,pulse,respiratory_rate,nasogastric_reflux_PH,total_protein,packed_cell_volume,abdomcentesis_total_protein
count,140.000000,164.000000,144.000000,35.000000,158.000000,161.000000,69.000000
mean,38.143571,76.396341,33.375000,4.460000,25.286709,46.667702,2.992754
std,0.716025,30.288514,20.095532,1.976509,27.887392,10.525110,1.937579
min,35.400000,30.000000,8.000000,1.000000,3.300000,23.000000,1.000000
25%,37.800000,52.000000,20.000000,2.500000,6.525000,39.000000,2.000000
50%,38.100000,70.000000,28.000000,4.500000,7.500000,45.000000,2.000000
75%,38.500000,93.000000,40.000000,6.500000,58.000000,53.000000,3.700000
max,40.800000,184.000000,96.000000,7.500000,89.000000,75.000000,10.100000

In [664]:
#не было операции
df[linear_columns][df['surgery'] == '2'].describe()

,rectal_temperature,pulse,respiratory_rate,nasogastric_reflux_PH,total_protein,packed_cell_volume,abdomcentesis_total_protein
count,99.00000,111.000000,97.000000,18.000000,108.000000,109.000000,32.000000
mean,38.20404,65.504505,26.134021,5.188889,22.793519,45.775229,3.140625
std,0.76036,24.763930,12.125755,1.958357,26.639347,10.330082,2.059731
min,36.00000,36.000000,9.000000,1.000000,4.700000,28.000000,0.100000
25%,37.80000,48.000000,16.000000,4.625000,6.500000,38.000000,1.450000
50%,38.20000,56.000000,24.000000,5.500000,7.250000,44.000000,2.550000
75%,38.60000,84.000000,32.000000,6.875000,54.500000,50.000000,4.500000
max,40.30000,150.000000,72.000000,7.500000,86.000000,74.000000,8.000000

In [665]:
#наблюдается разница между лошадьми, которые были оперированы (1) и которые не были оперированы (2)
df[linear_columns][df['surgery'] == '1'].describe() - df[linear_columns][df['surgery'] == '2'].describe()
#у лошадей, которые были прооперированы пульс, частота дыхания выше, при этом темпретара ниже,
#что возможно свидетельтсвует о том, что лошади после операции находятся в шоковом состоянии

,rectal_temperature,pulse,respiratory_rate,nasogastric_reflux_PH,total_protein,packed_cell_volume,abdomcentesis_total_protein
count,41.000000,53.000000,47.000000,17.000000,50.000000,52.000000,37.000000
mean,-0.060469,10.891837,7.240979,-0.728889,2.493190,0.892473,-0.147871
std,-0.044334,5.524584,7.969777,0.018152,1.248045,0.195029,-0.122152
min,-0.600000,-6.000000,-1.000000,0.000000,-1.400000,-5.000000,0.900000
25%,0.000000,4.000000,4.000000,-2.125000,0.025000,1.000000,0.550000
50%,-0.100000,14.000000,4.000000,-1.000000,0.250000,1.000000,-0.550000
75%,-0.100000,9.000000,8.000000,-0.375000,3.500000,3.000000,-0.800000
max,0.500000,34.000000,24.000000,0.000000,3.000000,1.000000,2.100000

In [666]:
category_columns = ['age', 'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes', 
                    'capillary_refill_time', 'pain', 'peristalsis', 'abdominal_distension', 'abdomen']

In [667]:
df[category_columns].mode()

,age,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,pain,peristalsis,abdominal_distension,abdomen
0,adult,3,1,1,1,3,3,1,5

In [668]:
#взрослых лошадей с операцией больше, чем молодых
#больше всего лошадей, у которых отсутствовало вздутие живота
df[['age','surgery', 'abdominal_distension']].groupby(['age', 'abdominal_distension']).count().reset_index()

     age abdominal_distension  surgery
0  adult                    1       72
1  adult                    2       62
2  adult                    3       60
3  adult                    4       34
4  young                    1        3
5  young                    2        3
6  young                    3        5
7  young                    4        4

### Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты.   Принять и обосновать решение о дальнейшей работе с ними.

In [669]:
#Посмотрим на выбросы по значениям, в которых наблюдается наибольший разброс max - min и при высоких значениях 
#показателя относительно нормы
#разброс min - max
# pulse                          154.0 норма 30-40
# respiratory_rate                88.0 норма 8-10
# total_protein                   85.7 норма 6-7.5
q1p = df['pulse'].quantile(0.25)
q3p = df['pulse'].quantile(0.75)
iqrp = q3p - q1p
lower_bound_p = q1p - (1.5 * iqrp) 
upper_bound_p = q3p + (1.5 * iqrp) 
remove_outliers_p = df[linear_columns][df['pulse'].between(lower_bound_p, upper_bound_p, inclusive=True)].sort_values('pulse')

In [670]:
#данные без выбросов по пульсу
remove_outliers_r.reset_index().head().sort_values('pulse', ascending=False)

,index,rectal_temperature,pulse,respiratory_rate,nasogastric_reflux_PH,total_protein,packed_cell_volume,abdomcentesis_total_protein
4,162,39.5,60.0,10.0,NaN,56.0,38.0,NaN
2,140,38.1,44.0,9.0,NaN,7.3,31.0,NaN
3,89,38.3,42.0,10.0,NaN,61.0,38.0,NaN
0,190,37.1,40.0,8.0,NaN,6.7,23.0,NaN
1,203,37.2,36.0,9.0,NaN,5.7,35.0,NaN

In [671]:
#данные выбросов по пульсу
#скорее всего это реальные величины пульса и их можно оставить
#так как сама по себе величина достаточно гибкая в силу физ особенностей
pd.concat([df[linear_columns], remove_outliers_p]).drop_duplicates(keep=False).sort_values('pulse', ascending=False).head(5)

,rectal_temperature,pulse,respiratory_rate,nasogastric_reflux_PH,total_protein,packed_cell_volume,abdomcentesis_total_protein
255,38.8,184.0,84.0,NaN,3.3,33.0,NaN
3,39.1,164.0,84.0,5.0,7.2,48.0,5.3
55,38.6,160.0,20.0,NaN,NaN,38.0,NaN
41,39.0,150.0,72.0,NaN,8.5,47.0,0.1
275,38.8,150.0,50.0,NaN,6.2,50.0,NaN

In [672]:
#Выброс по частоте дыхания
# respiratory_rate                88.0 норма 8-10
q1r = df['respiratory_rate'].quantile(0.25)
q3r = df['respiratory_rate'].quantile(0.75)
iqrr = q3r - q1r
lower_bound_r = q1r - (1.5 * iqrr) 
upper_bound_r = q3r + (1.5 * iqrr) 
remove_outliers_r = df[linear_columns][df['respiratory_rate'].between(lower_bound_r, upper_bound_r, inclusive=True)].sort_values('respiratory_rate')

In [673]:
#данные без выбросов по частоте дыхания
remove_outliers_r.sort_values('respiratory_rate', ascending=False).reset_index().head()

,index,rectal_temperature,pulse,respiratory_rate,nasogastric_reflux_PH,total_protein,packed_cell_volume,abdomcentesis_total_protein
0,248,38.0,108.0,60.0,NaN,NaN,NaN,NaN
1,185,38.5,120.0,60.0,NaN,NaN,54.0,NaN
2,23,38.3,130.0,60.0,NaN,70.0,50.0,NaN
3,20,39.9,72.0,60.0,NaN,6.1,46.0,NaN
4,220,39.2,88.0,58.0,NaN,NaN,NaN,2.0

In [674]:
#данные выбросов по частоте дыхания
#можно оставить,так как в описании указано, что могут быть большие колебания
pd.concat([df[linear_columns], remove_outliers_r]).drop_duplicates(keep=False).sort_values('respiratory_rate', ascending=False).head(5)

,rectal_temperature,pulse,respiratory_rate,nasogastric_reflux_PH,total_protein,packed_cell_volume,abdomcentesis_total_protein
106,38.3,52.0,96.0,NaN,6.1,43.0,NaN
39,39.2,146.0,96.0,NaN,NaN,NaN,NaN
269,39.3,64.0,90.0,6.5,6.7,39.0,NaN
186,39.3,64.0,90.0,NaN,6.7,39.0,NaN
244,38.2,124.0,88.0,NaN,8.0,47.0,NaN

In [675]:
#Выброс по анализу протеина
# total_protein                   85.7 норма 6-7.5
q1t = df['total_protein'].quantile(0.25)
q3t = df['total_protein'].quantile(0.75)
iqrt = q3t - q1t
lower_bound_t = q1t - (1.5 * iqrt) 
upper_bound_t = q3t + (1.5 * iqrt) 
remove_outliers_t = df[linear_columns][df['total_protein'].between(lower_bound_t, upper_bound_t, inclusive=True)].sort_values('total_protein')

In [676]:
#данные по анализу протеина без выбросов
remove_outliers_t.sort_values('total_protein', ascending=False).reset_index().head()

,index,rectal_temperature,pulse,respiratory_rate,nasogastric_reflux_PH,total_protein,packed_cell_volume,abdomcentesis_total_protein
0,208,37.8,88.0,80.0,NaN,89.0,64.0,NaN
1,90,38.0,52.0,16.0,1.0,86.0,53.0,NaN
2,1,39.2,88.0,20.0,NaN,85.0,50.0,2.0
3,63,38.2,130.0,16.0,NaN,82.0,65.0,2.0
4,144,37.1,84.0,40.0,2.0,81.0,75.0,NaN

In [677]:
#данные выбросов по частоте дыхания
#высокий протеин показывает обезвоживание, в данном случае выбросами оказались отсутствующие значения, оставляем
pd.concat([df[linear_columns], remove_outliers_t]).drop_duplicates(keep=False).sort_values('total_protein', ascending=True).head()

,rectal_temperature,pulse,respiratory_rate,nasogastric_reflux_PH,total_protein,packed_cell_volume,abdomcentesis_total_protein
17,37.5,48.0,24.0,NaN,NaN,NaN,NaN
25,37.8,60.0,42.0,NaN,NaN,NaN,NaN
39,39.2,146.0,96.0,NaN,NaN,NaN,NaN
51,37.4,84.0,36.0,NaN,NaN,NaN,NaN
55,38.6,160.0,20.0,NaN,NaN,38.0,NaN

### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с   пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [678]:
#считаем количетсво пропуски
for column in df.columns:
    miss_value = df[column].isna().mean()
    print(f'{column} - {miss_value :.1%}')

surgery - 0.3%
age - 0.0%
Hospital_Number - 0.0%
rectal_temperature - 20.0%
pulse - 8.0%
respiratory_rate - 19.3%
temperature_of_extremities - 18.7%
peripheral_pulse - 23.0%
mucous_membranes - 15.7%
capillary_refill_time - 10.7%
pain - 18.3%
peristalsis - 14.7%
abdominal_distension - 18.7%
nasogastric_tube - 34.7%
nasogastric_reflux - 35.3%
nasogastric_reflux_PH - 82.3%
rectal_examination_feces - 34.0%
abdomen - 39.3%
packed_cell_volume - 9.7%
total_protein - 11.0%
abdominocentesis_appearance - 55.0%
abdomcentesis_total_protein - 66.0%
outcome - 0.3%
surgical_lesion - 0.0%
lesion_1 - 0.0%
lesion_2 - 0.0%
lesion_3 - 0.0%
cp_data - 0.0%

In [679]:
#скорее всего можно удалить, так как судя по описанию, данные показатели 
#не очень сильно влияют на состояние здоровья 
# abdominocentesis_appearance - 55.0%
# abdomcentesis_total_protein - 66.0%
# nasogastric_reflux_PH - 82.3% скорее всего его сложно будет восстановить, так как потеряно более 80%
#так как данные исследования редко проводятся и если бы они были важны, скорее всего пропусков не был бы
df_new = df.drop(['abdominocentesis_appearance', 'abdomcentesis_total_protein', 'nasogastric_reflux_PH'], axis=1)

In [680]:
columns_new = ['rectal_temperature', 'pulse', 'respiratory_rate', 
               'total_protein', 'packed_cell_volume']

In [681]:
#заполним пропуски среднем по возрасту и операции, так как эти признаки оказывает 
#значительное клияние на показатели
#сгрупируем по возрасту и наличию операции
#видно, что показатели между возрастными группами и операцией отличаются
df_new.groupby(['age', 'surgery'])[columns_new].mean()

               rectal_temperature       pulse  respiratory_rate  \
age   surgery
adult 1                 38.084800   70.398649         30.356589
      2                 38.178723   63.495238         25.358696
young 1                 38.633333  131.875000         59.333333
      2                 38.680000  100.666667         40.400000

               total_protein  packed_cell_volume
age   surgery
adult 1            26.295775           47.142361
      2            23.777451           46.266990
young 1            16.331250           42.647059
      2             6.066667           37.333333

In [682]:
df_new.fillna(df_new.groupby(['age', 'surgery'])[columns_new].transform('mean'), inplace=True)

In [683]:
df_new.groupby(['age', 'surgery'])[columns_new].mean()

               rectal_temperature       pulse  respiratory_rate  \
age   surgery
adult 1                 38.084800   70.398649         30.356589
      2                 38.178723   63.495238         25.358696
young 1                 38.633333  131.875000         59.333333
      2                 38.680000  100.666667         40.400000

               total_protein  packed_cell_volume
age   surgery
adult 1            26.295775           47.142361
      2            23.777451           46.266990
young 1            16.331250           42.647059
      2             6.066667           37.333333

In [684]:
#так же заполним модой категориальные значения 
#к сожалению не получилось сделать так же, как и с линейными значениями 
#имеется ввиду сгрупировать и зполнить модой по отдельной группе
category_columns_new = ['surgery', 'age', 'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes', 
                    'capillary_refill_time', 'pain', 'peristalsis', 'abdominal_distension', 'abdomen']

In [685]:
#№пытался сделать так
df_new[category_columns_new].fillna(df_new[(df_new['age'] == 'adult') & (df_new['surgery'] == '1')][category_columns_new].mode(), inplace=True)
df_new[category_columns_new].fillna(df_new[(df_new['age'] == 'adult') & (df_new['surgery'] == '2')][category_columns_new].mode(), inplace=True)
df_new[category_columns_new].fillna(df_new[(df_new['age'] == 'young') & (df_new['surgery'] == '1')][category_columns_new].mode(), inplace=True)
df_new[category_columns_new].fillna(df_new[(df_new['age'] == 'young') & (df_new['surgery'] == '2')][category_columns_new].mode(), inplace=True)


for column in df_new.columns:
    miss_value = df_new[column].isna().mean()
    print(f'{column} - {miss_value :.1%}')

surgery - 0.3%
age - 0.0%
Hospital_Number - 0.0%
rectal_temperature - 0.0%
pulse - 0.0%
respiratory_rate - 0.0%
temperature_of_extremities - 18.7%
peripheral_pulse - 23.0%
mucous_membranes - 15.7%
capillary_refill_time - 10.7%
pain - 18.3%
peristalsis - 14.7%
abdominal_distension - 18.7%
nasogastric_tube - 34.7%
nasogastric_reflux - 35.3%
rectal_examination_feces - 34.0%
abdomen - 39.3%
packed_cell_volume - 0.0%
total_protein - 0.0%
outcome - 0.3%
surgical_lesion - 0.0%
lesion_1 - 0.0%
lesion_2 - 0.0%
lesion_3 - 0.0%
cp_data - 0.0%

/Users/senior/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [686]:
df_new.temperature_of_extremities.fillna(df_new.temperature_of_extremities.mode()[0], inplace=True)
df_new.peripheral_pulse.fillna(df_new.peripheral_pulse.mode()[0], inplace=True)
df_new.mucous_membranes.fillna(df_new.mucous_membranes.mode()[0], inplace=True)
df_new.capillary_refill_time.fillna(df_new.capillary_refill_time.mode()[0], inplace=True)
df_new.pain.fillna(df_new.pain.mode()[0], inplace=True)
df_new.peristalsis.fillna(df_new.peristalsis.mode()[0], inplace=True)
df_new.abdominal_distension.fillna(df_new.abdominal_distension.mode()[0], inplace=True)
df_new.nasogastric_tube.fillna(df_new.nasogastric_tube.mode()[0], inplace=True)
df_new.nasogastric_reflux.fillna(df_new.nasogastric_reflux.mode()[0], inplace=True)
df_new.rectal_examination_feces.fillna(df_new.rectal_examination_feces.mode()[0], inplace=True)
df_new.abdomen.fillna(df_new.abdomen.mode()[0], inplace=True)
df_new.surgery.fillna(df_new.surgery.mode()[0], inplace=True)

In [687]:
#пропуски заполнены
for column in df_new.columns:
    miss_value = df_new[column].isna().mean()
    print(f'{column} - {miss_value :.1%}')

surgery - 0.0%
age - 0.0%
Hospital_Number - 0.0%
rectal_temperature - 0.0%
pulse - 0.0%
respiratory_rate - 0.0%
temperature_of_extremities - 0.0%
peripheral_pulse - 0.0%
mucous_membranes - 0.0%
capillary_refill_time - 0.0%
pain - 0.0%
peristalsis - 0.0%
abdominal_distension - 0.0%
nasogastric_tube - 0.0%
nasogastric_reflux - 0.0%
rectal_examination_feces - 0.0%
abdomen - 0.0%
packed_cell_volume - 0.0%
total_protein - 0.0%
outcome - 0.3%
surgical_lesion - 0.0%
lesion_1 - 0.0%
lesion_2 - 0.0%
lesion_3 - 0.0%
cp_data - 0.0%