### Задание 1  
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было   выставлено больше всего оценок 5.0.

In [170]:
import pandas as pd

In [68]:
file = pd.read_csv('ratings.csv')
file = file.drop(['userId', 'timestamp'], axis=1)[(file['rating'] == 5.0)]

In [70]:
file.groupby(['movieId']).count().sort_values(by=['rating'], ascending=False).head(1)

         rating
movieId
318       39553

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4,  12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [106]:
file = pd.read_csv('power.csv')

In [98]:
file[file['country'].str.contains(('nia'), case=False)]['country'].unique()

array(['Romania', 'Lithuania', 'T.F.Yug.Rep. Macedonia', 'Armenia',
       'Estonia', 'Mauritania', 'New Caledonia', 'Slovenia',
       'United Rep. of Tanzania', 'Albania', 'Bosnia and Herzegovina'],
      dtype=object)

In [136]:
df = file[((file['country'] == 'Latvia') 
         | (file['country'] == 'Lithuania') 
         | (file['country'] == 'Estonia') 
         | (file['country'] == 'Latvia'))
         & (file['quantity'] >= 0)
        & ((file['category'] == 4)
         | (file['category'] == 12)
         | (file['category'] == 21))
        & ((file['year'] >= 2005)
         & (file['year'] <= 2010))]

In [167]:
df = df.groupby(['country', 'year', 'category']).sum()
df = df.sort_values(by=['country', 'quantity'], ascending=False)

In [169]:
df.head(10)

                         quantity
country   year category
Lithuania 2009 21         21156.0
          2008 21         20140.0
          2007 21         19972.0
          2006 21         19868.0
          2005 21         18224.0
          2010 21         16592.0
          2007 12          2454.0
          2008 12          2029.0
          2010 12           945.0
          2009 12           862.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.  
Примеры страниц (необязательно брать именно эти):  
https://fortrader.org/quotes  
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [256]:
web_site = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='UTF-8')[1]

In [268]:
table = web_site.drop(['Unnamed: 0'], axis=1)

In [269]:
table = table[(table['Предложение'] != 'Предложение')]

In [270]:
table['Предложение'] = table['Предложение'].astype(int)
table['Предыдущее закрытие'] = table['Предыдущее закрытие'].astype(int)
table['Абсолютное значение'] = table['Абсолютное значение'].astype(int)

In [271]:
table['Предложение'] = table['Предложение']/10000
table['Предыдущее закрытие'] = table['Предыдущее закрытие']/10000
table['Абсолютное значение'] = table['Абсолютное значение']/10000

In [272]:
# по неизвестной причине не подтягивается данные из столбца Спрос
table

,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,GBP/RUB,99.7178,-,99.9195,"-0,20 %",-0.2018,16:37:00
1,EUR/RUB,90.1398,-,90.1410,"0,00 %",-0.0012,16:36:00
2,USD/RUB,73.7845,-,73.7680,"0,02 %",0.0165,16:37:00
3,JPY/RUB,0.7121,-,0.7124,"-0,04 %",-0.0003,16:37:00
4,CNY/RUB,11.2830,-,11.2765,"0,06 %",0.0065,16:37:00
5,CHF/RUB,83.0144,-,82.9186,"0,12 %",0.0959,16:37:00
7,EUR/USD,1.2218,-,1.2191,"0,22 %",0.0027,16:36:00
8,EUR/GBP,0.9044,-,0.8996,"0,53 %",0.0048,16:37:00
9,EUR/JPY,126.6060,-,126.2200,"0,31 %",0.3860,16:37:00
10,EUR/CHF,1.0863,-,1.0847,"0,14 %",0.0016,16:36:00
12,USD/EUR,0.8184,-,0.8203,"-0,23 %",-0.0019,16:37:00
13,USD/GBP,0.7402,-,0.7383,"0,26 %",0.0019,16:37:00
14,USD/JPY,103.6295,-,103.5550,"0,07 %",0.0745,16:37:00
15,USD/CHF,0.8888,-,0.8902,"-0,16 %",-0.0014,16:37:00
17,JPY/EUR (100:1),0.7900,-,0.7900,"-0,30 %",0.0000,16:37:00
18,JPY/GBP,0.0071,-,0.0071,"0,18 %",0.0000,16:37:00
19,JPY/USD,0.0097,-,0.0097,"-0,08 %",0.0000,16:37:00
20,JPY/CHF (100:1),0.8600,-,0.8600,"-0,14 %",0.0000,16:37:00
22,GBP/USD,1.3510,-,1.3550,"-0,29 %",-0.0040,16:37:00
23,GBP/JPY,140.0109,-,140.2656,"-0,18 %",-0.2547,16:37:00
24,GBP/EUR,1.1058,-,1.1117,"-0,53 %",-0.0059,16:36:00
25,GBP/CHF,1.2009,-,1.2056,"-0,39 %",-0.0047,16:36:00
27,GBP/CHF,1.2009,-,1.2056,"-0,39 %",-0.0047,16:36:00
28,EUR/CHF,1.0863,-,1.0847,"0,14 %",0.0016,16:36:00
29,JPY/CHF (100:1),0.8600,-,0.8600,"-0,14 %",0.0000,16:37:00
30,USD/CHF,0.8888,-,0.8902,"-0,16 %",-0.0014,16:37:00
32,EUR/UAH,34.6181,-,34.6837,"-0,19 %",-0.0656,16:37:00
33,USD/UAH,28.3325,-,28.4500,"-0,41 %",-0.1175,16:35:00
34,CHF/UAH,31.8773,-,31.9794,"-0,32 %",-0.1021,16:37:00
35,GBP/UAH,38.2772,-,38.5364,"-0,67 %",-0.2592,16:37:00